// Default colors

$black: #000;
$white: #fff;


// Project colors

$blue: #001C77;
$teal: #2CD5C4;
$orange: #E05206;
$dark-grey: #53565A;
$mid-grey: #D8D8D8;
$light-grey: #EFEFEF;
$footer-grey: #C4C4C4;
$background-grey: #F0F0F0;
$grey9b: #9B9B9B;
$grey97: #979797;
$grey53: $dark-grey;
