// _footer.scss

.footer {
    @extend .header;
    height: 7rem;
    background: $grey53;
    color: $footer-grey;
    position: relative;

    &:before {
        background: $grey53;
    }

    img {
        margin: 0 3.5rem 0 0;
        position: relative;
        z-index: 2;
    }

    span {
        font-size: 1rem;
        position: relative;
        z-index: 2;
    }

    @media only screen and (max-width: $mobile) {

        span {
            max-width: 20rem;
        }
    }
}
