// _typography.scss

html, body {
    @include gotham-book();
}

a:not(.button), a:not(.button):hover, a:not(.button):active, a:not(.button):visited, a:not(.button):link {
    text-decoration: none;
    @include gotham-bold();

    &:hover {
        transition: color 0.3s;
    }
}

// h1 {
//     font-weight: initial;
//     @include gotham-medium();
//     font-size: 6rem;
//     line-height: 1;
//     margin: 0;
// }

h1 {
    font-weight: initial;
    @include gotham-medium();
    line-height: 1.2;
    margin: 0;
    font-size: 4rem;

    @media only screen and (max-width: $mobile) {
        font-size: 2rem;
        line-height: 1.25;
    }
}

p {
    font-weight: initial;
    @include gotham-book();
    line-height: 1.19;
    font-size: 2.1rem;

    @media only screen and (max-width: $mobile) {
        font-size: 1.6rem;
    }
}

small {
    font-size: 1rem;
}

a, a:hover, a:active, a:visited, a:link {


    &.button {
        color: $white;
        text-decoration: none;
    }
}
